body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 20px;
}

h1 {
	color: #333;
}

canvas {
	border: 2px solid #555;
	background-color: #ffffff;
	cursor: crosshair;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	cursor: crosshair;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border: none;
	border-radius: 6px;
	background-color: #ddd;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #ccc;
}

.buttons {
	display: flex;
	gap: 10px; /* jarak antar tombol */
	margin-top: 20px;
}
